{% extends 'base.html'%}


{% block content %}

    <h1>{{ title }}</h1>
    <form action="{% url 'birthdays' %}" class="form-inline my-2 my-lg-0" method="POST">
        {% csrf_token %}
        <table class="table-primary">
            <tbody>
                <td>
                    <label class="form-label">Person</label>
                    <input type="text" name="person" class="form-control" style="min-width:200px">
                </td>
                <td class="p-3">
                    <label class="form-label">Birthday</label>
                    <input type="date" name="date" class="form-control" style="min-width:200px">
                </td>
                <td>
                    <p></p>
                    <button type="submit" class="btn btn-yak">Add birthday</button>
                </td>
            </tbody>


        </table>
    </form>
    <hr>

<h2>There are {{ count }} {{ title}}</h2>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Person</th>
      <th scope="col">Birthday</th>
      <th scope="col">Next</th>
    </tr>
  </thead>
  <tbody>
    {% for item in objects %}
    <tr {% if item.next_one %} style="background-color: #ffc0cb"{% endif %}>
        <td>{{ item.person }}</td>
        <td>{{ item.date }}</td>
        <td>{{ item.next_age }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>



{% endblock %}