{% extends 'base.html'%}
{% block content %}


    <h1>{{ dog.name }}</h1>

     <table class="table">
         <tr>
           <th scope="col">Photo</th>
           <th scope="col">Owners</th>
           <th scope="col">Notes</th>
           <th style="min-width: 250px;">Bookings</th>
         </tr>
         <tr>
            <td>
                {% if dog.image %}
                <img src="{{ dog.image.url }}" height="120"/>
                {% endif %}
            </td>
             <td>
                {{ dog.owners }}
                {% if dog.owners_number %}
                    <br><a href="tel:+{{ item.mobile }}">{{ dog.owners_number }}</a>
                {% endif %}
            </td>
             <td>
                {% if dog.notes %} {{ dog.notes | safe}}<br> {% endif %}
                {% if dog.approved != "Yes" %}Approved: {{ dog.approved }}{% endif %}
             </td>
             <td>
                {% for booking in dog.bookings %}
                    {% if booking.in_future %}
                        {{ booking.short_name }}<br>
                    {% endif %}
                {% endfor %}
                <a class="btn btn-yak btn-sm" href="{% url 'booking' dog.id %}">Add booking</a>
             </td>
     </table>

{% if edit_mode %}
        <h1>Edit</h1><br>
        <form class="form-inline my-2 my-lg-0" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.media }}
            {{ form.as_p }}
            <button type="submit" class="btn btn-yak">Update Details</button>
         </form>
{% endif %}

{% endblock %}