{% extends 'base.html'%}
{% block content %}


    <h1>{{ title }}</h1><br>
     <table class="table">
      <thead>
        <tr>
          <th scope="col">Dogs</th>
          <th scope="col">Owners</th>
          <th scope="col">Notes</th>
          <th style="min-width: 250px;">Bookings</th>
        </tr>
      </thead>
     <tbody>
        {% for name, id, owners, owners_number, notes, approved, bookings in table_info %}
        <tr>
            <td><a href="{% url 'dog_edit' id %}">{{ name }} ({{ id }})</a></td>
            <td>
                {{ owners }}
                {% if owners_number %}
                    <br><a href="tel:+{{ item.mobile }}">{{ owners_number }}</a>
                {% endif %}
            </td>
            <td>
                {% if notes %} {{ notes | safe}}<br> {% endif %}
                {% if approved != "Yes" %}Approved: {{ approved }}{% endif %}

            </td>
            <td>
                {{ booking | safe }}
                <a class="btn btn-yak btn-sm" href="{% url 'booking' id %}">Add booking</a>
            </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>


            <br><br>
            <br><br>

{% endblock %}