{% extends 'base.html'%}
{% block content %}
    {% for dog in dogs %}
        <a class="btn btn-yak btn-sm" href="{% url 'dog' dog.id %}" style="margin-top: 10px">{{ dog.name }}</a>
    {% endfor %}
<h1>Dog Diary: {{ general.dog_diary_days }} days</h1>


    {% for duration in durations %}
        <a class="btn btn-yak btn-sm" href="{% url 'dog_duration' duration %}"
           {% if general.dog_diary_days == duration %}style="margin-top: 10px; border: 2px solid black;"{% else %} style="margin-top: 10px" {% endif %}
        >{{ duration }} days</a>
    {% endfor %} <br><br>

    <table class="table">
        <thead class="table-light">
            <th>Day</th>
            <th>Count</th>
            <th>Dogs</th>
        </thead>

        {% for dog_day, dogs in dog_diary %}
        <tr>
            <td>{{ dog_day | date:"j M - D"}}</td>
            <td>{{ dogs | length }}</td>
            <td>
                {% for dog in dogs %}
                {{ dog }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </table>
    {{ chart | safe }}
    {{ chart_pie | safe }}


{% endblock %}