{% extends 'base.html'%}
{% block content %}



    <h1>{{ title }}</h1>

    {% for duration in durations %}
        <a class="btn btn-yak btn-sm" href="{% url 'event_duration' duration %}" style="margin-top: 10px"
           {% if general.dog_diary_days == duration %}style="border: 2px solid black"{% endif %}
        >{{ duration }} days</a>
    {% endfor %} <br><br>


    <form action="{% url 'events' %}" class="form-inline my-2 my-lg-0" method="POST">
        {% csrf_token %}
        <table class="table-primary">
            <tbody>
                <td>
                    <label class="form-label">Description</label>
                    <input type="text" name="description" class="form-control" style="min-width:200px">
                </td>
                <td class="p-3">
                    <label class="form-label">Date</label>
                    <input type="date" name="date" class="form-control" style="min-width:200px">
                </td>
                <td>
                    <p></p>
                    <button type="submit" class="btn btn-yak">Add event</button>
                </td>
            </tbody>
        </table>
    </form>
    <hr>

    <table class="table">
        <thead class="table-light">
            <th>Day</th>
            <th>Events</th>
            <th>Notes</th>
            <th>Dogs</th>
            <th>Birthdays</th>
        </thead>

        {% for event_day, events, notes, birthdays, dog_bookings in event_list %}
        <tr>
            <td>{{ event_day | date:"j M - D" }}</td>
            <td>{% for event in events %} {{ event }}<br>{% endfor %}</td>
            <td>{% for note in notes %} <a href="{% url 'note' note.id %}">{{ note.heading }}</a><br>{% endfor %}</td>
            <td>{% for dog in dog_bookings %} {{ dog }}<br>{% endfor %}</td>
            <td>{% for item in birthdays %} {{ item }}<br>{% endfor %}</td>
            <td>
            </td>

            <td>
            </td>
        </tr>
        {% endfor %}
    </table>


{% endblock %}