{% extends 'base.html'%}
{% block content %}

    <h1>{{ title }}</h1>
    <form action="{% url 'events' %}" class="form-inline my-2 my-lg-0" method="POST">
        {% csrf_token %}
        <table class="table-primary">
            <tbody>
                <td>
                    <label class="form-label">Description</label>
                    <input type="text" name="description" class="form-control" style="min-width:200px">
                </td>
                <td class="p-3">
                    <label class="form-label">Date</label>
                    <input type="date" name="date" class="form-control" style="min-width:200px">
                </td>
                <td>
                    <p></p>
                    <button type="submit" class="btn btn-yak">Add event</button>
                </td>
            </tbody>


        </table>
    </form>
    <hr>

    <table class="table">
        <thead class="table-light">
            <th>Day</th>
            <th>Events</th>
            <th>Dogs</th>
            <th>Weather</th>
            <th>Tides (Lows)</th>
            <th></th>
        </thead>

        {% for date in tide_dates %}
        <tr>
            <td>{{ date.date | date:"j M - D" }}</td>
            <td>
                {% for birthday in date.birthdays %}<b>{{ birthday.tag }}: {{ birthday }}</b><br>{% endfor %}
                {% for event in date.events %}{{ event.description }}<br>{% endfor %}
                {% for note in date.notes %}<a href="{% url 'note' note.id %}">{{ note.heading }}</a><br>{% endfor %}
            </td>
            <td>
                {% for booking in date.bookings %} {{ booking.dog }}<br>{% endfor %}
            </td>
            <td>
                {% if date.max_temp %} <b>Max: {{ date.max_temp.max }}&deg;</b><br>{% endif %}
                {% for weather in date.weather %}
                    {{ weather.time }}: {{ weather.precis }}<br>
                {% endfor %}
            </td>

            <td>
            {% for tide in date.tides %}
                {{ tide.time }}<br>
            {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </table>


{% endblock %}