{% extends 'base.html'%}
{% block content %}
<h1>Home</h1>


{% for item in nav_bar_items %}
    <a class="btn btn-yak btn-sm" href="{% url item %}" style="margin-top: 10px">{{ item | capfirst }}</a>
{% endfor %}<br><br>

{% for child in children_notes %}
    <a class="btn btn-yak btn-sm" href="{% url 'note' child.id %}" style="margin-top: 10px">{{ child | capfirst }}</a>
{% endfor %}<br><br>

{% if home_pc %}
<hr>
    <a class="btn btn-yak btn-sm" href="{% url 'load_data' %}">Load Data from Excel</a>
    <a class="btn btn-yak btn-sm" href="{% url 'downloadpage' %}">Download All</a><br><br>
{% endif %}



{% endblock %}