<nav class="navbar navbar-light navbar-expand-xl" style="background-color: {{ general.style.colour }};">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}"><b>Home</b></a>

    {% if user.is_authenticated %}
      {% if user.first_name == "Amanda" %}
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item"><a class="nav-link active" href="{% url 'dogs' %}">Dogs</a></li>
          <li class="nav-item"><a class="nav-link active" href="{% url 'dog_diary' %}">Diary</a></li>
          </ul>
      {% else %}
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Main</a>
            <ul class="dropdown-menu">
              <li><a class="nav-link active" href="{% url 'notes' %}">Notes</a></li>
              <li><a class="nav-link active" href="{% url 'diary' %}">Diary</a></li>
              <li><a class="nav-link active" href="{% url 'events' %}">Events</a></li>
              <li><a class="nav-link active" href="{% url 'quotes' %}">Quotes</a></li>
              <li><a class="nav-link active" href="{% url 'birthdays' %}">Birthdays</a></li>
              <li><a class="nav-link active" href="{% url 'shopping' %}">Shopping</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Games</a>
            <ul class="dropdown-menu">
              <li><a class="nav-link active" href="{% url 'wordle' %}">Wordle</a></li>
              <li><a class="nav-link active" href="{% url 'wordle_remaining' %}">Wordle Remaining</a></li>
              <li><a class="nav-link active" href="{% url 'wordle_graph' %}">Wordle Graph</a></li>
              <li><a class="nav-link active" href="{% url 'wordle_validation' %}">Wordle Validation</a></li>
              <li><a class="nav-link active" href="{% url 'sudoku' %}">Sudoku</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Dogs</a>
            <ul class="dropdown-menu">
              <li><a class="nav-link active" href="{% url 'dogs' %}">Dogs</a></li>
              <li><a class="nav-link active" href="{% url 'dog_diary' %}">Diary</a></li>
            </ul>
          </li>


        </ul>
      {% endif %}
   {% else %}
      <ul class="nav justify-content-end">
        <li class="nav-item"><a class="nav-link active" href="{% url 'login' %}">Login</a></li>
      </ul>
   {% endif %}
  </div>
</nav>