{% extends 'base.html'%}
{% block content %}

    <h1>{{ object | safe }}</h1>

    {% if object.parent %}
        Parent: <a href="{% url 'note' object.parent.id %}">{{ object.parent_text }}</a><br>
        Hierarchy: {% for parent in object.parents %}
            <a href="{% url 'note' parent.id %}">{{ parent.heading }}</a> >
        {% endfor %}<br>
    {% endif %}
    <h3>Edit Note</h3>
     <form action="{% url 'edit_note' object.id %}" class="form-inline my-2 my-lg-0" method="POST">
        {% csrf_token %}
        {{ form.media }}
        {{ form.as_p }}
        <button type="submit" class="btn btn-yak">Save note</button>
    </form>

    <table class="table">
      <tbody>
        {% for item in object.children %}
            {% ifchanged item.category %}
                  <thead>
                    <tr class="d-flex">
                      <th class="col-1"></th>
                      <th class="col-9">{{ item.category }}</th>
                      <th class="col-2">Control</th>
                    </tr>
                  </thead>
            {% endifchanged %}
            <tr class="d-flex">
                <td class="col-1">
                    <a class="btn btn-yak" href="{% url 'up' item.id %}">U</a>
                    <a class="btn btn-yak" href="{% url 'down' item.id %}">D</a>
                </td>
                <td class="col-9">{{ item.chain }} <a href="{% url 'note' item.id %}">{{ item.heading }}</a><br>
                    {{ item.text | safe }}
                    {% for child in item.children %}
                     - {{ child.chain }} <a href="{% url 'note' child.id %}">{{ child.heading }}</a><br>
                    {% endfor %}

                </td>
                <td class="col-2">
                    <a class="btn btn-yak" href="{% url 'note' item.id %}">Select</a>
                    <a class="btn btn-yak" href="{% url 'delete_note' item.id %}">Delete</a>
                </td>
            </tr>
        {% endfor %}
      </tbody>
    </table>


    <h3>Create Child of <span style="color:blue">'{{ object.heading }}'</span></h3>
     <form action="{% url 'note' object.id %}" class="form-inline my-2 my-lg-0" method="POST">
        {% csrf_token %}
        {{ form_empty.media }}
        {{ form_empty.as_p }}
        <button type="submit" class="btn btn-yak">Add note</button>
    </form>
<br><br><br>

{% endblock %}