{% extends 'base.html'%}
{% block content %}


     <form method="POST">
        {% csrf_token %}


         <div class="row">
            <div class="col-sm-3">
            <h1>Sudoku</h1>
            </div>
            <div class="col-sm-6">
                <table class="table">
                    <tbody>
                        {% for row in range9 %}
                        <tr>
                            {% for col in range9 %}
                            <td
                            {% if row <= 2 and col <= 2 or row <= 2 and col >= 6 or row >= 6 and col <= 2 or row >= 6 and col >= 6  or row >= 3 and row <= 5 and col >= 3 and col <= 5 %}
                            style="background-color: #f2f2f2;" {% endif %}
                            >
                                <input type="text" class="form-control" id="cell{{ row }}{{ col }}" name="cell{{ row }}{{ col }}" maxlength="1">
                            </td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            <button type="submit" class="btn btn-yak">Solve</button>
            </div>
         </div>
     </form>
{% endblock %}