{% extends 'base.html'%}
{% block content %}
<h1>Timer</h1>

         <div class="row">
             {% for timer in timers %}
             {% if timer.visible %}
                <div class="col-sm-2" style="background-color: #ffe5ea; padding: 10px; border: 4px solid white;">
                     <p><b>{{ timer }}</b></p>
                        {% for element in timer.elements %}
                            {{ element.short_name }}<br>
                        {% endfor %} <br>
                    <a class="btn btn-yak" href="{% url 'timer' timer.id %}">Start</a>
                </div>
             {% endif %}
             {% endfor %}
         </div>


{% endblock %}