{% extends 'base.html'%}
{% block content %}

<H1>Wordle Categorisation</H1>
<a href="{% url 'solve_many_request' 'tree' %}" class='btn btn-yak'>Solve Many ({{ general.wordles_to_do }})</a><br>


<div class="row">

    <div class="col-sm-2">
    <h2>Errors ({{ error }})</h2>
    {% for word in word_list %}
        {% if word.word != word.predicted %} {{ word.word }} {{ word.colours }} {{ word.predicted }}<br>{% endif %}
    {% endfor %}
    </div>

    <div class="col-sm-3">
        <h2>Colours ({{ word_list | length }})</h2>
        {% for word in word_list %}
            {{ word.word }} {{ word.colours }} <br>
        {% endfor %}
    </div>

    <div class="col-sm-7">
        <h2>No colour ({{ wordles | length }})</h2>
        {% for word in wordles %}
            {{ word.word }}
        {% endfor %}
    </div>

</div>

<br><br>
{% endblock %}
