{% extends 'base.html'%}
{% block content %}

<H1>Wordle Categorisation</H1>
<a href="{% url 'solve_many_request' 'tree' %}" class='btn btn-yak'>Solve Many ({{ general.wordles_to_do }})</a><br>


<div class="row">

    <div class="col-sm-2">
    <h2>Errors</h2>
    {% for word in word_list %}
        {% if word.word != word.predicted %} {{ word.word }} {{ word.colours }} {{ word.predicted }}<br>{% endif %}
    {% endfor %}
    </div>

    <div class="col-sm-10">
        <h2>Colours ({{ word_list | length }})</h2>

        <table class="table">
            <tr><th>Words</th><th>Colours</th></tr>
            {% for word in word_list %}
                {% ifchanged word.first_colour %} <tr><td><h5>{{ word.guess_2 }} - {{ word.first_colour }}</h5></td><td></td> </tr>{% endifchanged %}
                <tr><td>{{ word.priors }}</td><td>{{ word.colours }}</td></tr>
            {% endfor %}
    </div>
</div>

<br><br>
{% endblock %}
