{% extends 'base.html'%}
{% block content %}

<style>
    .green {background-color:green;}
    .amber {background-color:orange;}
    .grey {background-color:grey;}
</style>


<div class="row">
    <div class="col-sm-1">
        <h2>Nav</h2>
        <a href="https://www.nytimes.com/games/wordle/index.html" target="_blank" class='btn btn-yak'>NY Times</a><br><br>
        <a href="{% url 'wordle_remaining' %}" class='btn btn-yak'>Remaining</a><br><br>
    </div>
    <div class="col-sm-4">
            <h2>Puzzle</h2>
        <form action="/wordle" method="POST">
        {% csrf_token %}
<!--Previous Entries-->
            <table class='table table-sm' style="text-align: center;">
                {% for word in input_array %}
                    <input type="hidden" name="Prior{{forloop.counter}}" value="{{ word }}"></td>
                    <tr>
                    {% for letter, colour in word %}
                        <td style="background-color: {{ colour }}; color: white; font-weight: bold;">{{ letter | capfirst }}</td>
                    {% endfor %}
                    </tr>
                {% endfor %}
            </table>

<!--Current Word-->
            <table class='table table-responsive table-striped table-hover table-bordered table-sm'>
                <tr>
                    {% for x in entry %}
                        <td>
                            <input class="form-control entry" name="{{forloop.counter}}" value="{{x | upper}}" style="text-align:center;">
                        </td>
                    {% endfor %}
                </tr>
                <tr>
                    {% for x in numbers %}
                    <td>
                        <input class="form-check-input" type="radio" name={{x}} value ="Grey" checked> Grey<br>
                        <input class="form-check-input" type="radio" name={{x}} value ="Orange"> Amb<br>
                        <input class="form-check-input" type="radio" name={{x}} value ="Green" {% cycle green1 green2 green3 green4 green5 %}> Grn<br>
                    </td>
                    {% endfor %}
                </tr>
            </table>
            <input type = 'submit' value = 'Update' class='btn btn-outline-secondary btn-sm'><br><br>
        </form>
        <a href="{% url 'clear' %}" class='btn btn-outline-secondary btn-sm'>Clear</a><br>
    </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-3">
        <h2>Words</h2>
        Count: {{ words | length }} <br>
        Favourite Word: {{ fav_word }}<br>
        <br>
        {% for word in words %}
            {{ word.upper }} {% if word.score %} ({{ word.score }}) {% endif %}<br>
        {% endfor %}<br>
        <a href="{% url 'add_wordle' fav_word %}" class='btn btn-outline-secondary btn-sm'>Add '{{ fav_word }}'</a><br>
    </div>
    <div class="col-sm-3">
        <h2>Letters</h2>
        {% for item in counter %}
            {{ item }}<br>
        {% endfor %}
        <h2>Random</h2>
        {{ random_item.upper }}
        <h2>Used words</h2>
        {% for word in used_words %}
            <a href="{% url 'wordle_clear' word.id %}">'{{ word.word.upper }}'</a>
            ({{ word.date }})<br>
        {% endfor %}
    </div>
</div>


<br><br>
{% endblock %}
